.my-background {
    background-image: url('omid-armin-LRJkKZ5zOSM-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px; /* Adjust the height as needed */
}
